---
layout: default
title: lista libros
css: azul
---

<div class="content">
<h2>Lista de Libros</h2>
<ul>
  {% if libros %}
    {% for libro in libros %}
      <li>
        <strong>{{ libro.titulo }}</strong> - 
        {{ libro.autor }}, 
        {{ libro.genero }}, 
        <span class="{% if libro.paginas < 500 %}pocas_paginas{% endif %}">
          {{ libro.paginas }} páginas
        </span>
      </li>
    {% endfor %}
  {% else %}
    <li>No hay libros registrados</li>
  {% endif %}
</ul>
</div>
