---
layout: default
title: Tabla alumnos
css: azul
---

<div class="content">
  <h2>TABLA DE ALUMNOS</h2>
  <table>
    <tr>
      <th>Alumno</th>
      <th>Nota 1</th>
      <th>Nota 2</th>
      <th>Nota 3</th>
    </tr>
    {% for alumno in site.data.alumnos %}
    <tr{% if alumno.nota < 5 %} class="suspenso"{% endif %}>
       <td>{{ alumno.nombre }}</td>
       <td>{{ alumno.nota1 }}</td>
       <td>{{ alumno.nota2 }}</td>
       <td>{{ alumno.nota3 }}</td>
     </tr>
    {% endfor %}
  </table>
</div>