<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: "Mi Web" }}</title>
    {% if page.css == "azul" %}
      <link rel="stylesheet" href="/assets/css/azul.css">
    {% elsif page.css == "amarillo" %}
      <link rel="stylesheet" href="/assets/css/amarillo.css">
    {% endif %}
</head>
<body>
      {% if page.header == "3and4" %}
    <h1>Bienvenido a mi pagina del examen</h1>

    {% endif %}
    <div class="topnav">
      <a href="/examen/1.html">pagina 1</a>
      <a href="/examen/2.html">pagina2</a>
      <a href="/examen/3.html">pagina3</a>
      <a href="/examen/4.html">pagina 4</a>
    </div>
    <div class="main">
        {{ content }}
    </div>
        {% if page.footer == "1and2" %}
    <div class="footer">
        <p>Jeremy Martínez - vamos con todo</p>
    </div>
    {% elsif page.footer== "aprobar" %}
    <div class="footer">
        <p>Jeremy Martínez - Espero aprobar</p>
    </div>
    {% endif %}
</body>
</html>